{% extends "layout.html.twig" %}

{% block title %}Hello, world!{% endblock %}

{% block content %}
    <h1>Hello, world!</h1>

    <ul>
{% for link in nav %}
        <li><a href="{{ link }}">{{ link }}</a></li>
{% endfor %}
    </ul>
{% endblock %}
