{% extends "layout.html.twig" %}

{% block content %}

    <div class="box">
        <h1>Hello, world!</h1>
        <p>This is a front page</p>
        <h2>SELECT * FROM as_user_types</h2>
        <pre class="box">{{ dump(debug_data) }}</pre>
    </div>

{% endblock %}
