{% extends "layout.html.twig" %}

{% block content %}

    <h1>Hello, world!</h1>
    <ul>
        <li><a href="/admin/login">/admin/login</a></li>
        <li><a href="/sales/login">/sales/login</a></li>
        <li><a href="/site/login/pid/RVM1G5621DGYHI">/site/login/pid/RVM1G5621DGYHI</a></li>
        <li><a href="/site/login/pid/AVF1G5621DG34D">/site/login/pid/AVF1G5621DG34D</a></li>
        <li><a href="/logout">/logout</a></li>
    </ul>

{% endblock %}
