<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>{% block title %}Hello, world!{% endblock %}</title>
        <link href="/style/default.css" rel="stylesheet">
    {% endblock %}
    </head>
    <body>

        {% if flashes.info is defined %}
            <div class="box info">
                {{ flashes.info|raw }}
            </div>
        {% endif %}

        {% if flashes.error is defined %}
            <div class="box error">
                {{ flashes.error|raw }}
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}

    </body>
</html>
