{% extends "layout.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Login page{% endblock %}

{% block content %}
    <h1>Login page</h1>

    <form action="" method="post">
        {{ form_widget(form) }}
        <p class="text-right">
            <input type="submit" />
        </p>
    </form>
{% endblock %}
